/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
.DS_Store

/src/Teapotio
/src/Temp
/web/cache
/web/img/uploads/images/*
!web/img/uploads/images/default_avatar.png
/web/css
/web/js

*.php~

composer.lock
composer.locktmp
