web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
bin
composer.phar
.DS_Store
.sass-cache

app/config/parameters_local.yml
src/Teapotio
web/cache
web/img/uploads
!web/img/uploads/images/default_avatar.png
web/css
web/js
src/Temp

*.php~

composer.lock
composer.locktmp
