.redactor_editor,
.redactor_editor:focus {
  padding-top: 0;
  padding-bottom: 0; }

.redactor_box .redactor_toolbar {
  overflow: auto; }
  .redactor_box .redactor_toolbar:after {
    content: ""; }
