{% extends "TeapotSiteBundle:Layout:default.html.twig" %}

{% block container %}
  <div class="span8">
  	{% block left_column %}

  	{% endblock %}
  </div>
  <div class="span4">
  	{% block right_column %}

  	{% endblock %}
  </div>
{% endblock %}