{% extends "TeapotSiteBundle:Layout:default.html.twig" %}

{% block container %}

  {% include "TeapotSiteBundle:Layout:header.html.twig" %}

  <div class="content-wrapper {% block content_wrapper_class %}{% endblock %}">

    {% block content_wrapper %}

    {% endblock %}

  </div>

  {% include "TeapotSiteBundle:Layout:Structure/nav_horizontally.html.twig" %}
{% endblock %}