{% extends "TeapotSiteBundle:Layout:default.html.twig" %}

{% block container %}
  <div class="span6">
  	{% block left_column %}

  	{% endblock %}
  </div>
  <div class="span3">
  	{% block center_column %}

  	{% endblock %}
  </div>
  <div class="span3">
  	{% block right_column %}

  	{% endblock %}
  </div>
{% endblock %}